<form [formGroup]="huwelijksgegevensForm">
<div class="infocard">
  <p class="infocard-titel">Wijzig huwelijk</p>
  <mat-form-field>
    <mat-label>Huwelijk</mat-label>
    <input  matInput [matDatepicker]="pickerHuwelijk" formControlName="gehuwdOp">
    <mat-datepicker-toggle matIconSuffix [for]="pickerHuwelijk"></mat-datepicker-toggle>
    <mat-datepicker #pickerHuwelijk></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gemeente</mat-label>
    <input  matInput maxlength="256" formControlName="gehuwdTe">
  </mat-form-field>


  <mat-checkbox class="example-margin" formControlName="uitElkaar">Uit elkaar</mat-checkbox>


  <button type="button" mat-raised-button (click)="opslaan()">Wijzigen</button>
</div>
</form>
