<p class="form-titel">Ouders toevoegen aan persoon </p>

<ng-container *ngIf="formState$ | async as formState">

  <form class="default-form" [ngrxFormState]="formState">
    <p class="form sectie-titel">Vader</p>
    <div class="form-line">
      <mat-form-field>
        <mat-label>Voornaam</mat-label>
        <input matInput maxlength="256" placeholder="Voornamen"
               [ngrxFormControlState]="formState.controls.persoon1voornaam">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Naam</mat-label>
        <input matInput maxlength="256" placeholder="Naam"
               [ngrxFormControlState]="formState.controls.persoon1naam">
      </mat-form-field>
    </div>
    <div class="form-line">
      <mat-form-field>
        <mat-label>Geboren</mat-label>
        <input matInput [matDatepicker]="pickerPersoon1Geboren" [ngrxFormControlState]="formState.controls.persoon1geborenOp"
               [ngrxValueConverter]="dateValueConverter">
        <mat-datepicker-toggle matIconSuffix [for]="pickerPersoon1Geboren"></mat-datepicker-toggle>
        <mat-datepicker #pickerPersoon1Geboren></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Overleden</mat-label>
        <input matInput [matDatepicker]="pickerPersoon1Overleden" [ngrxFormControlState]="formState.controls.persoon1overledenOp"
               [ngrxValueConverter]="dateValueConverter">
        <mat-datepicker-toggle matIconSuffix [for]="pickerPersoon1Overleden"></mat-datepicker-toggle>
        <mat-datepicker #pickerPersoon1Overleden></mat-datepicker>
      </mat-form-field>

    </div>
    <p class="form sectie-titel">Moeder</p>


    <div class="form-line">
      <mat-form-field>
        <mat-label>Voornaam</mat-label>
        <input matInput maxlength="256" placeholder="Voornamen"
               [ngrxFormControlState]="formState.controls.persoon2voornaam">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Naam</mat-label>
        <input matInput maxlength="256" placeholder="Naam"
               [ngrxFormControlState]="formState.controls.persoon2naam">
      </mat-form-field>
    </div>
    <div class="form-line">
      <mat-form-field>
        <mat-label>Geboren</mat-label>
        <input matInput [matDatepicker]="pickerPersoon2Geboren" [ngrxFormControlState]="formState.controls.persoon2geborenOp"
               [ngrxValueConverter]="dateValueConverter">
        <mat-datepicker-toggle matIconSuffix [for]="pickerPersoon2Geboren"></mat-datepicker-toggle>
        <mat-datepicker #pickerPersoon2Geboren></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Overleden</mat-label>
        <input matInput [matDatepicker]="pickerPersoon2Overleden" [ngrxFormControlState]="formState.controls.persoon2overledenOp"
               [ngrxValueConverter]="dateValueConverter">
        <mat-datepicker-toggle matIconSuffix [for]="pickerPersoon2Overleden"></mat-datepicker-toggle>
        <mat-datepicker #pickerPersoon2Overleden></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="button-bar">
      <button type="button" mat-button (click)="close()">Sluiten</button>
      <button type="button" mat-raised-button (click)="opslaan()">Opslaan</button>
    </div>


  </form>
</ng-container>
