<div class="page-container center">
  <div class="input-line">
    <input type="text" #zoek class="zoek-input">
    <button mat-raised-button (click)="zoeken(zoek)">Zoeken</button>
    <button mat-raised-button [routerLink]="['/personen/nieuw']">Nieuw</button>
  </div>
</div>

<div class="infocard">
  <table mat-table [dataSource]="datasource">
    <!-- Name Column -->
    <ng-container matColumnDef="naam">
      <th mat-header-cell *matHeaderCellDef> Naam</th>
      <td mat-cell *matCellDef="let element"> {{ element.naam }}</td>
    </ng-container>
    <ng-container matColumnDef="voornaam">
      <th mat-header-cell *matHeaderCellDef> Voornaam</th>
      <td mat-cell *matCellDef="let element"> {{ element.voornaam }}</td>
    </ng-container>
    <ng-container matColumnDef="geborenOp">
      <th mat-header-cell *matHeaderCellDef> Geboren Op</th>
      <td mat-cell *matCellDef="let element"> {{ element.geborenOp | date: 'dd/MM/yyyy' }}</td>
    </ng-container>
    <ng-container matColumnDef="geborenTe">
      <th mat-header-cell *matHeaderCellDef> Geboren Te</th>
      <td mat-cell *matCellDef="let element"> {{ element.geborenTe }}</td>
    </ng-container>
    <ng-container matColumnDef="overledenOp">
      <th mat-header-cell *matHeaderCellDef> Overleden Op</th>
      <td mat-cell *matCellDef="let element"> {{ element.overledenOp | date: 'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="overledenTe">
      <th mat-header-cell *matHeaderCellDef> Overleden Te</th>
      <td mat-cell *matCellDef="let element"> {{ element.overledenTe }}</td>
    </ng-container>
    <ng-container matColumnDef="acties">
      <th mat-header-cell *matHeaderCellDef> Acties</th>
      <td mat-cell *matCellDef="let element">
        <span class="actie" [routerLink]="['/personen', 'detail', element.id]">
          <fa-icon size="2x" [icon]="faBars"></fa-icon>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


