<div class="page-container center">
  <div class="input-line">
    <input type="text" #zoek class="zoek-input">
    <button mat-raised-button (click)="zoeken(zoek)">Zoeken</button>
    <button mat-raised-button [routerLink]="['/personen/nieuw']">Nieuw</button>
  </div>
</div>

<div class="table"  *ngIf=" gevondenPersonen$ | async as gevondenPersonen">
  <!-- Header Row -->
  <div class="table-row header">
    <div class="table-cell">Naam</div>
    <div class="table-cell">Voornaam</div>
    <div class="table-cell">Geboren Op</div>
    <div class="table-cell">Geboren Te</div>
    <div class="table-cell">Overleden Op</div>
    <div class="table-cell">Overleden Te</div>
    <div class="table-cell">Acties</div>
  </div>

  <!-- Data Rows -->
  <div class="table-row" *ngFor="let persoon of gevondenPersonen">
    <div class="table-cell">{{ persoon.naam }}</div>
    <div class="table-cell">{{ persoon.voornaam }}</div>
    <div class="table-cell">{{ persoon.geborenOp }}</div>
    <div class="table-cell">{{ persoon.geborenTe }}</div>
    <div class="table-cell">{{ persoon.overledenOp }}</div>
    <div class="table-cell">{{ persoon.overledenTe }}</div>
    <div class="table-cell"><span [routerLink]="['/personen', 'detail', persoon.id]"><fa-icon [icon]="faInfo"></fa-icon></span></div>
  </div>
</div>

