<p class="form-titel">Nieuw natuurlijk persoon aan relatie <fa-icon (click)="close()" [icon]="faXmark"></fa-icon></p>

<ng-container *ngIf="formState$ | async as formState">

  <form class="default-form" [ngrxFormState]="formState">
    <div class="form-line">
      <mat-form-field>
        <mat-label>Naam</mat-label>
        <input matInput maxlength="256" placeholder="Naam"
               [ngrxFormControlState]="formState.controls.naam">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Voornaam</mat-label>
        <input matInput maxlength="256" placeholder="Voornamen"
               [ngrxFormControlState]="formState.controls.voornaam">
      </mat-form-field>
    </div>
    <div class="form-line">
      <mat-radio-group aria-label="Geslacht"  [ngrxFormControlState]="formState.controls.geslacht">
        <mat-radio-button value="MAN">Man</mat-radio-button>
        <mat-radio-button value="VROUW">Vrouw</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-line">
      <mat-form-field>
        <mat-label>Geboren</mat-label>
        <input matInput [matDatepicker]="pickerGeboren" [ngrxFormControlState]="formState.controls.geborenOp"
               [ngrxValueConverter]="dateValueConverter">
        <mat-datepicker-toggle matIconSuffix [for]="pickerGeboren"></mat-datepicker-toggle>
        <mat-datepicker #pickerGeboren></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Overleden</mat-label>
        <input matInput [matDatepicker]="pickerOverleden" [ngrxFormControlState]="formState.controls.overledenOp"
               [ngrxValueConverter]="dateValueConverter">
        <mat-datepicker-toggle matIconSuffix [for]="pickerOverleden"></mat-datepicker-toggle>
        <mat-datepicker #pickerOverleden></mat-datepicker>
      </mat-form-field>

    </div>

    <div class="button-bar">
      <button type="button" mat-button (click)="close()">Sluiten</button>
      <button type="button" mat-raised-button (click)="opslaan()">Opslaan</button>
    </div>

  </form>
</ng-container>
