<div class="infocard">
  <div class="infocard-titel">
    Fiche
  </div>
  <div class="infocard-body" *ngIf="persoonFiche$ | async as persoonFiche">
    <div class="infocard-sectie">
      <span>naam {{persoonFiche.natuurlijkPersoon.naam}}</span>
      <span>Voornaam {{persoonFiche.natuurlijkPersoon.voornaam}}</span>
      <span>Geboren {{persoonFiche.natuurlijkPersoon.geborenOp}}</span>
      <span>Overleden {{persoonFiche.natuurlijkPersoon.overledenOp}}</span>
      <span [routerLink]="['/personen/detail', persoonFiche.moeder?.id]">Moeder {{persoonFiche.moeder?.naam}} {{persoonFiche.moeder?.voornaam}}</span>
      <span [routerLink]="['/personen/detail', persoonFiche.vader?.id]">Vader  {{persoonFiche.vader?.naam}} {{persoonFiche.vader?.voornaam}}</span>
    </div>
    <div class="infocard-sectie">
      <span class="infocard-sectie-titel">kinderen</span>

      <div *ngFor="let kind of persoonFiche.kinderen" [routerLink]="['/personen/detail', kind.id]">
        {{kind.naam}} {{kind.voornaam}}
      </div>
    </div>
    <div class="infocard-sectie">
      <span  class="infocard-sectie-titel">relatie </span>
      <div *ngFor="let relatie of persoonFiche.relaties">
        <span [routerLink]="['/personen/detail', relatie.persoon1.id]">{{relatie.persoon1.naam}}</span>
        <span [routerLink]="['/personen/detail', relatie.persoon2.id]">{{relatie.persoon2.naam}}</span>

        <div *ngFor="let kind of relatie.kinderen" [routerLink]="['/personen/detail', kind.id]">
          {{kind.naam}} {{kind.voornaam}}
        </div>
      </div>
    </div>
    <div class="infocard-sectie">
      <span class="infocard-sectie-titel">Documenten <span (click)="documentToevoegen()">TOEVOEGEN</span></span>
    </div>
  </div>
</div>
