<div class="infocard">
  <div class="infocard-titel">
    Fiche
  </div>
  <div class="infocard-body">
    <div class="infocard-sectie">
      <span>naam</span>
      <span>Voornaam</span>
      <span>Geboren</span>
      <span>Overleden</span>
      <span>Moeder</span>
      <span>Vader</span>
    </div>
    <div class="infocard-sectie">
      <span class="infocard-sectie-titel">kinderen</span>
    </div>
    <div class="infocard-sectie">
      <span  class="infocard-sectie-titel">huwelijk</span>
    </div>
    <div class="infocard-sectie">
      <span class="infocard-sectie-titel">Documenten</span>
    </div>
  </div>
</div>
