/* You can add global styles to this file, and also import other style files */
body {
  background-color: steelblue;
}

.applicatie {
  font-family: "Roboto";
  display: flex;
  flex-flow: column nowrap;
}
